# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
UIChallenges/xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
UIChallenges/build/
UIChallenges/DerivedData/
UIChallenges/*.moved-aside
UIChallenges/*.pbxuser
UIChallenges/!default.pbxuser
UIChallenges/*.mode1v3
UIChallenges/!default.mode1v3
UIChallenges/*.mode2v3
UIChallenges/!default.mode2v3
UIChallenges/*.perspectivev3
UIChallenges/!default.perspectivev3

## Obj-C/Swift specific
UIChallenges/*.hmap

## App packaging
UIChallenges/*.ipa
UIChallenges/*.dSYM.zip
UIChallenges/*.dSYM

## Playgrounds
UIChallenges/timeline.xctimeline
UIChallenges/playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
UIChallenges/Packages/
UIChallenges/Package.pins
UIChallenges/Package.resolved
UIChallenges/*.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

UIChallenges/.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
UIChallenges/*.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

UIChallenges/Carthage/Build/

# Accio dependency management
UIChallenges/Dependencies/
UIChallenges/.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

UIChallenges/fastlane/report.xml
UIChallenges/fastlane/Preview.html
UIChallenges/fastlane/screenshots/**/*.png
UIChallenges/fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

UIChallenges/iOSInjectionProject/
